<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tartalomjegyzék</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        #copyright, #source, #credentials {
            border-top: 1px solid black;
        }
    </style>
</head>
<body>
<header class="container text-center">
    <h1>
        Online Pentacon Múzeum<br>
        <small>Online Pentacon Museum</small>
    </h1>
</header>

<main class="container">
    <h1>Tartalomjegyzék</h1>
    <ol>
        {{ range $id, $name := . }}
            <li><a href="{{ $id }}.html">{{ $name }}</a></li>
        {{ end }}
    </ol>
</main>

<footer class="container small">
    <div class="row" id="copyright">
        <div class="col">
            <p>A felvételek és az oldal tartalma az Online Pentacon Múzeum, illetve az adatokkal rendelkezni jogosult
                források tulajdonát képezik.</p>
            <p>Digitalizálta: Interspect Kft.</p>
        </div>
    </div>

    <div class="row" id="source">
        <div class="col">
            <p>Az adatok forrásai:</p>
            <ul>
                <li>A Hungarian Pentacon Museum tárgyjegyzéke</li>
                <li>http://www.praktica-collector.de (Dr. Mike Otto adatbázisa)
                <li>Roger Rossing 1969: The Praktica Book p. 256.
                <li>Roger Rössing 1965, 1986: Fotografie mit der Praktica
                <li>Leonard Gaunt 1972: The Praktica way
                <li>Roger Rössing, Morvay György, Dr. Sevcsik Jenő 1979: Fényképezés Prakticával</li>
                <li>Gerhard Jehmlich 2009: A VEB Pentacon Drezda. A Drezda kamera és mozi ipar története 1945 után,
                    Drezda
                </li>
                <li>Barry M. Jones. Publisher, Barry M Jones, 2014: From KW to Pentacon: The Story of Kamera
                    Werkstätten, Praktica and Pentacon Cameras
                </li>
            </ul>
        </div>
    </div>

    <div row id="credentials">
        <div class="col text-center">
            Generated by: <a href="https://github.com/kergeodeta/pentaconmuseum">PentaconMuseum</a> | Written in <a
                    href="https://golang.org/">Go</a> | Written by <a
                    href="https://github.com/kergeodeta">kergeodeta</a>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>