<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Name }}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        #copyright, #source, #credentials {
            border-top: 1px solid black;
        }
    </style>
</head>
<body>
<header class="container text-center">
    <h1>
        Online Pentacon Múzeum<br>
        <small>Online Pentacon Museum</small>
    </h1>
</header>

<main class="container">
    <hr>
    <div class="row">
        <div class="col text-left">
            <button id="prev" class="btn btn-success" {{ if (eq .Position "first") }}disabled{{ end }}>Előző</button>
        </div>

        <div class="col text-center">
            <button id="contents" class="btn btn-success">Tartalomjegyzék</button>
        </div>

        <div class="col text-right">
            <button id="next" class="btn btn-success" {{ if (eq .Position "last") }}disabled{{ end }}>Következő</button>
        </div>
    </div>
    <hr>
    <table class="table table-striped table-bordered">
        <tbody>
        <tr class="table-info">
            <td>Típus</td>
            <td>{{ .Name }}</td>
        </tr>
        <tr>
            <td>Gyártási időszak</td>
            <td>{{ .Manufactured }}</td>
        </tr>
        <tr>
            <td>Fókusztávolság</td>
            <td>{{ .Focus }}</td>
        </tr>
        <tr>
            <td>Rekesz tartomány</td>
            <td>{{ .Aperture }}</td>
        </tr>
        <tr>
            <td>Közelpont</td>
            <td>{{ .NearPoint }}</td>
        </tr>
        <tr>
            <td>Lencsetagok</td>
            <td>{{ .LensCount }}</td>
        </tr>
        <tr>
            <td>Lencse csoportok</td>
            <td>{{ .LensGroup }}</td>
        </tr>
        <tr>
            <td>Apertúra lamellák</td>
            <td>{{ .ApertureLamells }}</td>
        </tr>
        <tr>
            <td>Átlós látószög</td>
            <td>{{ .DiagonalViewAngle }}</td>
        </tr>
        <tr>
            <td>36 (horizontális) x 24 mm látószög</td>
            <td>{{ .HorizontalViewAngle }}</td>
        </tr>
        <tr>
            <td>Szűrőátmérő</td>
            <td>{{ .FilterDiameter }}</td>
        </tr>
        <tr>
            <td>Hossza</td>
            <td>{{ .Length }}</td>
        </tr>
        <tr>
            <td>Átmérője</td>
            <td>{{ .Diameter }}</td>
        </tr>
        <tr>
            <td>Tömege</td>
            <td>{{ .Weight }}</td>
        </tr>
        <tr>
            <td>Foglalat</td>
            <td>{{ .Socket }}</td>
        </tr>
        <tr>
            <td>Gyártó</td>
            <td>{{ .Manufacturer }}</td>
        </tr>
        <tr>
            <td>Gyári szám</td>
            <td>{{ .SerialNumber }}</td>
        </tr>
        </tbody>
    </table>
</main>

<footer class="container small">
    <div class="row" id="copyright">
        <div class="col">
            <p>A felvételek és az oldal tartalma az Online Pentacon Múzeum, illetve az adatokkal rendelkezni jogosult
                források tulajdonát képezik.</p>
            <p>Digitalizálta: Interspect Kft.</p>
        </div>
    </div>

    <div class="row" id="source">
        <div class="col">
            <p>Az adatok forrásai:</p>
            <ul>
                <li>A Hungarian Pentacon Museum tárgyjegyzéke</li>
                <li>http://www.praktica-collector.de (Dr. Mike Otto adatbázisa)
                <li>Roger Rossing 1969: The Praktica Book p. 256.
                <li>Roger Rössing 1965, 1986: Fotografie mit der Praktica
                <li>Leonard Gaunt 1972: The Praktica way
                <li>Roger Rössing, Morvay György, Dr. Sevcsik Jenő 1979: Fényképezés Prakticával</li>
                <li>Gerhard Jehmlich 2009: A VEB Pentacon Drezda. A Drezda kamera és mozi ipar története 1945 után,
                    Drezda
                </li>
                <li>Barry M. Jones. Publisher, Barry M Jones, 2014: From KW to Pentacon: The Story of Kamera
                    Werkstätten, Praktica and Pentacon Cameras
                </li>
            </ul>
        </div>
    </div>

    <div row id="credentials">
        <div class="col text-center">
            Generated by: <a href="https://github.com/kergeodeta/pentaconmuseum">PentaconMuseum</a> | Written in <a
                    href="https://golang.org/">Go</a> | Written by <a
                    href="https://github.com/kergeodeta">kergeodeta</a>
        </div>
    </div>
</footer>

<script>
    let id = {{ .Id }};

    document.getElementById("prev").addEventListener("click", function () {
        window.location = `${id - 1}.html`
    });

    document.getElementById("contents").addEventListener("click", function () {
        window.location = "index.html"
    });

    document.getElementById("next").addEventListener("click", function () {
        window.location = `${id + 1}.html`
    });
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>